@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    color: hsla(0, 0%, 100%, 0.75);
    background-image: repeating-linear-gradient(90deg, #0005, #fff3, #0005), repeating-linear-gradient(45deg, hsla(31,77%,52%,.50) 0px 1px, hsla(184, 100%, 22%,.75) 1px 36px, hsla(179, 100%, 13%,.5) 31px 71px), repeating-linear-gradient(-45deg, #f00f, #ffff, #00ff);
    backdrop-filter: hue-rotate(180deg) opacity(.5) saturate(100%) contrast(300%) brightness(100%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: auto auto;

    #sedan {
        background: hsl(31, 77%, 52%);
    }

    #suv {
        background: hsl(184, 100%, 22%);
    }

    #luxury {
        background: hsl(179, 100%, 13%);
    }

    .flex-item {
        padding: 55px;
        width: 100%;
    }
    
    .flex-image {
        margin-bottom: 20px;
    }

    .flex-title {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: "Big Shoulders Display";
    }

    .flex-copy {
        font-size: 15px;
        font-family: "Lexend Deca";
        line-height: 150%;
    }

    #sedan {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #luxury {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .flex-title {
        font-size: 32px;
    }

    .button {
        display: inline-block;
        background: white;
        border-radius: 25px;
        margin-top: 30px;
        padding: 15px 30px;
        font-family: "Lexend Deca";
        text-decoration: none;
    }

    #sedan .button {
        color: hsl(31, 77%, 52%);
        border: 1px solid hsl(31, 77%, 52%);
        transition: all .5s;
    }

    #sedan .button:hover {
        background: hsl(31, 77%, 52%);
        color: white;
        border: 1px solid white;
        
        box-shadow: 0 3px 5px white;
    }

    #suv .button {
        color: hsl(184, 100%, 22%);
        border: 1px solid hsl(184, 100%, 22%);
        transition: all .5s;
    }
    
    #suv .button:hover {
        background: hsl(184, 100%, 22%);
        color: white;
        border: 1px solid white;
        box-shadow: 0 3px 5px white;
    }

    #luxury .button {
        color: hsl(179, 100%, 13%);
        border: 1px solid hsl(179, 100%, 13%);
        transition: all .5s;
    }

    #luxury .button:hover {
        background: hsl(179, 100%, 13%);
        color: white;
        border: 1px solid white;
        
        box-shadow: 0 3px 5px white;
    }

    .attribution {
        background: #333;
        border-radius: 5px;
        margin: 15px 0px;
        padding: 10px;
    }
    
}

@media only screen and (min-width: 1440px) {
    .flex-container {
        flex-direction: row;
        max-width: 1440px;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;

        .flex-item {
            transition: transform 1s, border-radius 0.5s;
            overflow: hidden;
        }

        // .flex-image:hover {
        //     display: block;
        //     animation: vroom 1s 0s 1 ease-in-out alternate forwards;
        //     transform: translateX(0);

        //     @keyframes  vroom {
        //         from {transform: translateX(0);}
        //         to {transform: translateX(200%);}                
        //     }
        // }

        #sedan:hover {
            transform: scale(1.2, 1.2) translate(-25px, -20px);
            // border-right: 25px solid hsl(31, 77%, 52%);
            box-shadow: 0 15px 15px #333;
            z-index: 1;
            
            border-radius: 25px;
        }

        #suv:hover {
            transform: scale(1.2, 1.2) translate(-25px, -20px);
            box-shadow: 0 15px 15px #333;
            // border-right: 25px solid hsl(184, 100%, 22%);
            z-index: 1;
            border-radius: 25px;
        }
        
        #luxury:hover {
            transform: scale(1.2, 1.2) translate(-25px, -20px);
            // border-right: 25px solid hsl(179, 100%, 13%);
            box-shadow: 0 15px 15px #333;
            z-index: 1;
            
            border-radius: 25px;
        }

        #sedan {
            position: relative;
            border-top-left-radius: none;
            border-top-right-radius: unset;
            z-index: 0;
        }
    
        #luxury {
            position: relative;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: none;
            z-index: 0;
        }

        #suv {
            z-index: 0;
            position: relative;
        }
    
        #sedan {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
    
        #luxury {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    
        .attribution {
            display: none;
        }

    }

    .flex-item {
        max-width: 300px;
        height: auto;
        min-height: 500px;
        padding: unset;
    }

    .button {
        position: absolute;
        bottom: 75px;
    }
}